# UEFI menüsü (kurulum ISO'sunun /boot/grub/grub.cfg'si). Zaman aşımı yok: yanlış makinede kazara silme olmasın.
set timeout=-1
set default=0
menuentry "WifiCorrect kur - DISKTEKI HER SEY SILINIR" {
  linux /install.amd/vmlinuz auto=true priority=critical preseed/file=/cdrom/preseed.cfg locale=tr_TR.UTF-8 keyboard-configuration/xkb-keymap=tr ---
  initrd /install.amd/initrd.gz
}
