# WifiCorrect kurulumu: soru sorulmaz. Disk = kurulum ortamı ve USB olmayan ilk disk, tamamı silinir.
d-i debian-installer/locale string tr_TR.UTF-8
d-i keyboard-configuration/xkb-keymap select tr
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string wificorrect
d-i netcfg/get_domain string
d-i netcfg/hostname string wificorrect
d-i hw-detect/load_firmware boolean false
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
# "*": hiçbir parolayla eşleşmez (kilitli). "!" verilirse user-setup parolayı SORAR (kurulum takılır).
d-i passwd/root-password-crypted password *
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Istanbul
d-i clock-setup/ntp boolean true
# Disk = kurulum ortamı ve USB diskler dışındaki ilk disk; yoksa kurulum hatayla durur (disk.sh). GRUB (BIOS) da
# o diske yazılır (kurucunun "default"u USB'yi seçebilir).
d-i partman/early_command string sh /cdrom/wificorrect/disk.sh
d-i partman-auto/method string regular
# Kendi tarifimiz: Debian'ın "atomic"i kökü en az 8000 MB ister (EFI 768 + takas 500 ile 9,3 GB) → 8 GB'lık
# diskte "Unable to satisfy all constraints on the partition". Burada: EFI (yalnızca GPT, yani UEFI açılışında)
# 538 MB, kök ext4 en az 4 GB ve kalan her şey, takas 1 GB. BIOS açılışında boş disk msdos etiketlenir → EFI satırı atlanır.
d-i partman-auto/expert_recipe string \
  wificorrect :: \
    538 538 1075 free $iflabel{ gpt } $reusemethod{ } method{ efi } format{ } . \
    4000 10000 -1 ext4 $primary{ } $bootable{ } method{ format } format{ } \
      use_filesystem{ } filesystem{ ext4 } mountpoint{ / } . \
    1024 1024 1024 linux-swap $primary{ } method{ swap } format{ } .
d-i partman-auto/choose_recipe select wificorrect
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-efi/non_efi_system boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/use_mirror boolean true
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/services-select multiselect security, updates
tasksel tasksel/first multiselect
d-i pkgsel/include string openssh-server
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default
d-i grub-installer/force-efi-extra-removable boolean true
d-i preseed/late_command string sh /cdrom/wificorrect/son.sh
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true
